{{! StAuth10222: I Ryan Jay Salapare, 000823653 certify that this material is my original work. 
  No other person's work has been used without due acknowledgement. 
  I have not made my work available to anyone else. }}
  
<div class="rightcolumn">
  <div class="card">
    <h2>About</h2>
    <p>The CBC News Application allows the public to read articles.  Sign-up
    and become a member to publish your own articles! </p>
  </div>
</div>
